.page {
    padding: 0 1px;
    margin: 0 1px;
    border: 1px black solid;
    border-radius: 15px;
}

.selectedPage {
    padding: 0 1px;
    margin: 0 1px;
    border: 1px black solid;
    font-weight: bold;
    border-radius: 15px;
}

.pagination {
    cursor: pointer;
}