.dialogs {
    display: grid;
    grid-template-columns: 2fr 8fr;
}

.dialogItem {
    padding: 10px;
}

.dialogItem a {
    text-decoration: none;
}

.dialog {

}

.commonErrorMessage {
    color: crimson;
    font-weight: bold;
}

.dialogItem .active {
    color: #f30d38;
}

.messages {
    padding: 10px;
}

.message {

}