.dialogs {
    display: grid;
    grid-template-columns: 2fr 8fr;
}

.dialogItem {
    padding: 10px;
}

.dialogItem a {
    text-decoration: none;
}

.dialog {

}

.dialogItem .active {
    color: aqua;
}

.messages {
    padding: 10px;
}

.message {

}